<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MultiUserAddressBookConnectionString" connectionString="data source = DESKTOP-BVTLLAS\SQLEXPRESS; initial catalog = MultiUserAddressBook; Integrated Security = True;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>