body {
    
    text-align: justify;
    
}

#footer {
    padding:30px;
    background-color:rgba(84, 73, 79, 0.8)
}

#header {
    padding:30px;
    background-color: rgba(84, 73, 79, 0.8)
}

#mainContent{
    padding-left: 80px;
    padding-right: 80px;
}
